<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved To-Do List</title>
</head>
<body>
    <h1>The following items have been saved!</h1>
    <table>
        <tr data-th-each="item, iter: ${list}">
            <td data-th-text="${iter.index + 1}"></td>
            <td data-th-texT="${item.content}"></td>
        </tr>
    </table>
</body>
</html>